name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - run: brew install planetlabs/tap/go-stac
      - run: stac validate --entry ./stac/catalog.json
